<div class="wrapper">
    <app-appheader></app-appheader>
    <app-appaside></app-appaside>
    <app-appcontent></app-appcontent>
    <app-appfooter></app-appfooter>
    <app-appctrlsidebar></app-appctrlsidebar>
    <router-outlet></router-outlet>
</div>